.single-container img {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  border-radius: 8px;
}

.single-container {
  width: 400px;

  height: 100%;
  box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 7px;
}
.allproduct-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 90px;
  grid-row-gap: 60px;
  margin-left: 270px;
  margin-top: 80px;

  width: 70%;
}
/* body {
  background-color: gray !important;
} */
.allproduct-maincontainer {
  /* margin-top: 60px; */
  /* height: 650vh; */
  /* background-color: gray !important; */

  /* margin-bottom: 10px; */
  width: 100%;
}
.allproduct-maincontainer > h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 70px;
  text-align: center;
}

.allproduct-maincontainer > p {
  font-family: "Source Code Pro", monospace;
  font-size: 23px;
  text-align: center;
}
.singleproduct-info {
  margin-left: 20px;
}
.singleproduct-info > p {
  font-size: 15px;
}
.btnn:hover {
  background-color: royalblue;
}

:root {
  --primary-orange: orange;
  --primary-red: rgb(228, 130, 43);
}

.btnn-1 {
  margin-left: 10px;
  color: white;
  padding: 10px 10px;
  font-size: 19px;
  background-color: orange;

  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.btnn-1:hover {
  background-color: rgb(109, 138, 225);
}
.delet {
  margin-left: 100px;
  color: white;
  padding: 10px 5px;
  font-size: 19px;
  background-color: red;

  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
@media only screen and (max-width: 644px) {
  .allproduct-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    margin-left: 15px;
    margin-top: 80px;
    /* height: 1800vh; */
    width: 70%;
  }
  .allproduct-maincontainer {
    /* margin-top: 60px; */
    /* height: 15600px; */
    height: 2100vh;
    width: 100%;
    background-color: gray;
  }
  .single-container {
    width: 330px;
    height: 725px;

    box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 0px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 7px;
  }
}
